/* General setup */

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1rem;
}
header {
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    line-height: 1.5;
    letter-spacing: 1rem;
    word-spacing: 1rem;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */